<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainTeaser_by_marouane</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/create.js"></script>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/create.css') }}/>
</head>
<body>
    <header>
        <p class="main_header">BrainTeaser</p>
        <p class="secondary_header">by Marouane</p>
    </header>
    <div id="rule-container">
        <ul class="rules" >Rules</ul>
        <li>Scoring System:</li>
        <ul>
            <li>Each correct answer awards a fixed number of points (e.g., 10 points per correct answer).</li>
            <li>Incorrect answers give no points</li>
        </ul>
        <li>Answer Submission:</li>
        <ul>
            <li>Once an answer is submitted, it cannot be changed. Choose your answers carefully!</li>
        </ul>
        <li>No Backtracking:</li>
        <ul>
            <li>Users cannot go back to previous questions once they have moved to the next one.</li>
        </ul>
        <li>Leaderboard:</li>
        <ul>
            <li>A real-time leaderboard will display the top scorers based on total points accumulated across quizzes.</li>
            <li>Scores are updated immediately after the quiz is completed.</li>
        </ul>
        <li>Multiple Attempts:</li>
        <ul>
            <li>Users can take quizzes multiple times, but only the highest score will be saved for the leaderboard.</li>
        </ul>
        <li>User Authentication Required:</li>
        <ul>
            <li>Only registered and logged-in users can participate in the quizzes and save their scores.</li>
        </ul>
    </div>
    <div id="create-container">
        <div class="welcome">
            <p>Please create your account</p>
        </div>
        <div class="logo"></div>
        <div class="input">
            <form id="create_form" action="/create" method="POST">
		<p id="result"></p>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required placeholder="Enter your username"><br><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required placeholder="Enter your email"><br><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required placeholder="Enter your password"><br><br>
        
                <input type="submit" value="create">
            </form>
        </div>
    </div>
    <div id="leaderboard-container">
        <ul class="rules" >Leaders</ul>
        {% for leader in leaders %}
        <li class="leaders" >{{ leader['username'] }}: {{ leader['highScore'] }} Pts</li>
        {% endfor %}
    </div>
</body>
</html>
