html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
    margin-top: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
}
header {
    background-color: #8500ba;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
header p {
    margin: 3px;
}
header .main_header {
    font-size: 31px;
}
#rule-container {
    width: 300px;
    background-color: white;
    border-radius: 0 21px 21px 0px;
    flex-grow: 1;
    height: fit-content;
    margin-right: 20px;
}
#login-container {
    width: 901px;
    flex-grow: 2;
    background-color: #8821b8;
    border-radius: 100px;
}
#leaderboard-container {
    margin-left: 20px;
    background-color: white;
    padding-left: 24px;
    flex-grow: 1;
    border-radius: 21px 0 0 21px;
}
.logo {
    background-image: url('../../images/brainteaser-logo.png');
    background-size: cover;
}
