html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
    margin-top: 90px;
    height: 100%;
    display: grid;
    justify-content: center;
}
header {
    background-color: #8500ba;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
header p {
    margin: 3px;
}
header .main_header {
    font-size: 31px;
}
.logo {
    background-image: url('../../images/brainteaser-logo.png');
    background-size: contain;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    width: 250px;
}
.board {
    height: 180px;
    width: 270px;
    position: absolute;
    right: 0;
    background-color: #3d1617;
    top: 71px;
    border-radius: 0px 0px 0px 186px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.username {
    color: beige;
    font-size: 40px;
    margin: 24px 0 5px 40px;
    text-align: center;
}
.highScore {
    color: burlywood;
    font-size: 70px;
    margin: 0;
    text-align: center;
}
.score {
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.pts {
    color: burlywood;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#quiz-container {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#question-box {
    margin-bottom: 15px;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 60px;
    background-color: wheat;
    font-size: 30px;
    padding: 15px;
}
.logo_board {
    display: flex;
    justify-content: center;
}
.answer-btn {
    border-radius: 60px;
    width: 500px;
    height: 80px;
    border: 2px solid black;
    font-size: 29px;
}
.new-answer-btn {
    border-radius: 60px;
    width: 500px;
    height: 80px;
    border: 2px solid black;
    font-size: 29px;
}
#answer-box {
    display: grid;
    justify-content: center;
}
#start {
    display: grid;
    margin: 40px;
    justify-content: center;
}
#start label {
    font-size: 40px;
}
#category {
    height: 50px;
    font-size: 30px;
    border-radius: 12px;
    border: 1px solid black;
}
#start-quiz {
    border-radius: 60px;
    border: 2px solid black;
    background-color: wheat;
    font-size: 30px;
}
.yourpts {
    margin-bottom: 15px;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 60px;
    background-color: wheat;
    font-size: 30px;
    padding: 15px;
}
.return {
    width: 150px;
    justify-self: center;
    font-size: 30px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #45ff64;
}
.logout {
    width: 150px;
    justify-self: center;
    font-size: 30px;
    border-radius: 60px;
    border: 2px solid black;
    background-color: #f00;
}
.turntogreen {
    background-color: #008CBA;
}
